.card{
  display: flex;
  flex-direction: column;
  color: #333;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.6);
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
}

img{
  width: 100%;
  object-fit: cover;
}

.card-body{
  padding: 30px;

  h1{
    margin-bottom: 10px;
  }

  li{
    line-height: 2;
  }

  li:last-child{
    border: 0;
  }
}
